body {
    background-color: #F0F0EF;
    font-family: sans-serif;
}

.container {
    padding: 15px;
    background-color: whitesmoke;
}

header {
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.logo-m {
    display: block;
    float: left;
    padding: 16px;
    width: 10%;
}

.logo-gr {
    display: block;
    float: right;
    padding: 40px;
    width: 18%;
}

.alertErrors {
    background-color: #FF0500;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

/* Full-width input fields */

input[name=mail] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 25px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background: #ffffff;
}

input[name=mail]:focus {
    background-color: #ddd;
    outline: none;
}

/* Extra styles for the cancel button */

.cancelbtn {
    background-color: darkgrey;
    float: left;
    width: 20%;
}

.validatebtn {
    float: right;
    width: 20%;
}

/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}