{% include "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/homepage/forgetpassword.css') }}"/>
{% endblock stylesheets %}

{% block body %}

	<br><br><br><br><br><br><br><br>

	<form name="forget_password" class="container" method="post">

		<h2>Veuillez saisir votre adresse mail, pour réinitialiser votre mot de passe</h2><br>

		<label for="mail">
			<b>Adresse mail :</b>
		</label>
		<input type="email" placeholder="Entrer votre adresse mail" name="mail">

		<div class="clearfix">
			<a href="{{ path ('app_login')}}">
				<button type="button" class="cancelbtn">Retour</button>
			</a>
			<button type="submit" class="validatebtn">Valider</button>
		</div>

	</form>

{% endblock body %}
